### Dataset

**HDI (Human Development Index)** <br>
Link: https://www.kaggle.com/sudhirnl7/human-development-index-hdi

In [78]:
import pandas as pd
import numpy as np

In [79]:
df_hdi = pd.read_csv('datasets/HDI.csv', index_col=0)

In [80]:
df_hdi.tail(14)

,Id,Country,HDI Rank,HDI,Life expectancy,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,Change in HDI rank 2010-2015,Average annual HDI growth 1990-2000,...,Coefficient of human inequality,Inequality in life expectancy (%) 2010-2015,Inequality-adjusted life expectancy index,Inequality in education(%),Inequality-adjusted education index,Inequality in income (%),Inequality-adjusted income index,Income inequality (Quintile ratio) 2010-2015,Income inequality (Palma ratio) 2010-2015,Income inequality (Gini coefficient) 2010-2015
181,182,South Sudan,181.0,0.418,56.1,4.8,1882.0,-12.0,-7.0,NaN,...,NaN,40.7,0.330,39.6,0.180,NaN,NaN,13.1,2.7,46.3
182,183,Guinea,183.0,0.414,59.2,2.6,1058.0,4.0,0.0,1.74,...,33.6,35.4,0.390,48.3,0.171,17.1,0.296,5.5,1.3,33.7
183,184,Burundi,184.0,0.404,57.1,3.0,691.0,5.0,-1.0,-0.06,...,30.6,40.8,0.338,36.9,0.249,14.1,0.251,4.8,1.3,33.4
184,185,Burkina Faso,185.0,0.402,59.0,1.4,1537.0,-8.0,0.0,NaN,...,33.3,37.1,0.377,38.6,0.161,24.2,0.313,5.3,1.5,35.3
185,186,Chad,186.0,0.396,51.9,2.3,1991.0,-19.0,0.0,NaN,...,39.6,46.2,0.264,41.9,0.163,30.7,0.313,10.0,2.2,43.3
186,187,Niger,187.0,0.353,61.9,1.7,889.0,1.0,1.0,1.85,...,27.5,35.3,0.417,35.0,0.134,12.3,0.290,5.4,1.4,34.0
187,188,Central African Republic,188.0,0.352,51.5,4.2,587.0,4.0,-1.0,-0.19,...,43.1,45.7,0.263,34.5,0.221,49.2,0.136,18.3,4.5,56.2
188,189,Korea (Democratic People's Rep. of),NaN,NaN,70.5,NaN,NaN,NaN,NaN,NaN,...,NaN,15.4,0.658,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,190,Marshall Islands,NaN,NaN,NaN,NaN,4412.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,191,Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,192,Nauru,NaN,NaN,NaN,NaN,12058.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,193,San Marino,NaN,NaN,NaN,NaN,50063.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,194,Somalia,NaN,NaN,55.7,NaN,294.0,NaN,NaN,NaN,...,NaN,42.1,0.318,43.5,NaN,NaN,NaN,NaN,NaN,NaN
194,195,Tuvalu,NaN,NaN,NaN,NaN,5395.0,NaN,NaN,NaN,...,NaN,NaN,NaN,10.5,NaN,NaN,NaN,7.7,1.9,41.1

In [81]:
df_hdi = df_hdi.fillna(0)

In [82]:
df_hdi = df_hdi[df_hdi['HDI'] != 0]

In [83]:
df_hdi.shape

(188, 81)

HDI is ranked on a scale from 0 to 1.0, with 1.0 being the highest human development. 
HDI is broken down into four tiers:

- very high human development (0.8-1.0)
- high human development (0.7-0.79)
- medium human development (0.55-.70)
- and low human development (below 0.55)

In [84]:
df_hdi.insert(0, 'HDI_class', None)

In [85]:
df_hdi['HDI_class'] = df_hdi['HDI_class'].mask(df_hdi['HDI'] > 0.79 , 1)
df_hdi['HDI_class'] = df_hdi['HDI_class'].mask((df_hdi['HDI'] > 0.7) & (df_hdi['HDI'] <= 0.79) , 2)
df_hdi['HDI_class'] = df_hdi['HDI_class'].mask((df_hdi['HDI'] > 0.55) & (df_hdi['HDI'] <= 0.7) , 3)
df_hdi['HDI_class'] = df_hdi['HDI_class'].mask(df_hdi['HDI'] <= 0.55, 4)

In [86]:
df_hdi.sample(5)

,HDI_class,Id,Country,HDI Rank,HDI,Life expectancy,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,Change in HDI rank 2010-2015,...,Coefficient of human inequality,Inequality in life expectancy (%) 2010-2015,Inequality-adjusted life expectancy index,Inequality in education(%),Inequality-adjusted education index,Inequality in income (%),Inequality-adjusted income index,Income inequality (Quintile ratio) 2010-2015,Income inequality (Palma ratio) 2010-2015,Income inequality (Gini coefficient) 2010-2015
92,2,93,Saint Lucia,92.0,0.735,75.2,9.3,9791.0,14.0,-8.0,...,15.6,10.1,0.763,9.2,0.614,27.4,0.503,0.0,0.0,0.0
165,4,166,Togo,166.0,0.487,60.2,4.7,1262.0,18.0,-1.0,...,31.6,32.4,0.418,38.9,0.299,23.5,0.293,10.7,2.6,46.0
32,1,33,Cyprus,33.0,0.856,80.3,11.7,29459.0,4.0,-3.0,...,10.8,4.0,0.891,12.4,0.688,15.9,0.722,5.4,1.4,34.3
48,1,49,Russian Federation,49.0,0.804,70.3,12.0,23286.0,1.0,5.0,...,9.6,8.8,0.705,2.2,0.798,17.7,0.678,8.2,2.0,41.6
101,2,102,Libya,102.0,0.716,71.8,7.3,14303.0,-25.0,-35.0,...,0.0,15.8,0.671,0.0,0.000,0.0,0.000,0.0,0.0,0.0

In [87]:
#df_hdi.columns

In [89]:
training_columns = df_hdi.columns[5:]

In [118]:
y_labels = df_hdi['HDI_class'].astype(int)

In [119]:
X = df_hdi[training_columns].values.astype(float)

### Execução

In [126]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier


from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

import matplotlib.pyplot as plt

In [127]:
classifiers = [
    {'name': 'DecisionTreeClassifier', 'classifier': DecisionTreeClassifier()},
    {'name': 'MLPClassifier', 'classifier': MLPClassifier()},
    {'name': 'SGDClassifier', 'classifier': SGDClassifier()},
    {'name': 'RandomForestClassifier', 'classifier': RandomForestClassifier()}
]

Modelo de classificação

In [128]:
X_train, X_test, y_train, y_test = train_test_split(X, y_labels, test_size=0.25, random_state=42)

In [135]:
classifier_f1_score_data = np.array([])

for classifier in classifiers:
    
    clf = classifier['classifier'].fit(X_train, y_train)
    score = clf.score(X_test, y_test)
    y_pred = clf.predict(X_test)
    
    report = classification_report(y_test, y_pred,output_dict=True)
    f1_score = report['macro avg']['f1-score']
    
    line = [
        classifier['name'], f1_score
    ]
    
    classifier_f1_score_data = np.concatenate(
        (classifier_f1_score_data, line)
    )

In [136]:
classifier_f1_score_data

array(['DecisionTreeClassifier', 'MLPClassifier', 'SGDClassifier',
       'RandomForestClassifier'], dtype='<U32')

0.9238958209546445